body {
  width: 60%;
  height: 100%;
  background-color: #21252B;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  padding: 1rem;
  font-size: 50px;
}

main h1 {
   text-align: center;
   padding: 1rem;
}

.introduction-section div {
  padding-bottom: 2rem;
}

.introduction-top p {
  padding-bottom: 1rem;
}

li {
  color: white;
}

.tutorial-section ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.tutorial-section li {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

.tutorial-section li div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

pre {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
